body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}

.contener {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .contener {
        width: 100%;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    /* border: none;
    border-bottom: 2px solid green; */
}

button:hover {
    background-color: #d1dae4;
}


ul {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
    padding: 10px;
    box-sizing: border-box;
    list-style-type: none;
}

ul li {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

ul li .ssid {
    order: 1;
    flex: 1;
}

ul li .pass {
    order: 2;
    margin-left: auto;
    margin-right: 5px;
    /* to wyrównuje pass do prawej */
}

ul li .signal {
    order: 3;
}

ul li:hover {
    background-color: #d1dae4;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    /* Zaokrąglone rogi */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* Cień */
    max-width: 100%;
    margin: 10px;
    /* Maksymalna szerokość karty */
    overflow: hidden;
    /* Aby respektować zaokrąglenie rogu */
}

.card-header {
    background-color: #d1dae4;
    /* Niebieski kolor nagłówka */
    /* color: black; */
    /* Biały tekst */
    padding: 7px 10px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* Delikatna linia oddzielająca nagłówek od treści */
}

.card-content {
    padding: 10px;
}

.current-connected {
    font-size: large;
}